<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>NodePop</title>
    <link rel="stylesheet" href="/styles/style.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: antiquewhite">
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:3000/anuncios"
          >Nodepop🙀</a
        >
      </div>
    </nav>
    <br /><br />

    <center>
      <h1>Servicio de Venta de Articulos</h1>
      <p style="font-size: 20px">Nodepop</p>
      <hr />
      <p style="font-size: 23px">
        Para entrar dentro del Servicio de venta
        <a href="http://localhost:3000/anuncios">Pulse click aquí</a>
      </p>
    </center>

    <div class="informacion">
      <h5>
        El primer paso es descargar NPM con sus dependencias, en la consola
        escribir el comando
      </h5>
      <p>npm install</p>
      <h5>
        Todos los datos dentro de la Base de datos se encuentran en el archivo
        "anuncios.json", para incluirlos en la base de datos, instalar Mongo DB
        y crear una nueva base de datos llamada "Nodepop", crear una nueva
        coleccion y llamarla "anuncios". Se puede añadir el archivo con las
        opciones de Mongo
      </h5>
      <br />
      <img
        src="/images/anuncios/tutorial.gif"
        alt="Como instalar datos"
      /><br />
      <br />
      <h5>
        Despues de tener todo correcto, se inicia el Proyecto con el comando
      </h5>
      <p>npm start</p>
    </div>
  </body>
</html>
